.mollang_btn {
	margin: 0px 5px 0px 5px;
}

#mollang_container {
	margin-top: 10px;
	width: 100%;
	/* 깨짐 주의 */
	/* float: left; */
}

#h2_mollang_first{
	margin-bottom: 25px;
}

.notice {
	width: 100%;
	height: 50px;
	overflow: hidden;
	background: #fff;
}

.rolling {
	position: relative;
	width: 100%;
	height: auto;
}

.rolling li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	list-style: none;
}

.red_m {
	color: #f00;
}

.a_m,
.a_m:hover {
	text-decoration: none;
	color: #000;
}