.mollang_btn {
	margin-left:10px;
}

#mollaing_write{
	position: none;
	width:500px;
}

#mollang_input_size{
	width : 50%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}