/* 페이지 전환 하기 */
.page_mollang_main {
	width : 100%;
}
.ul_page {
	list-style: none;
	float: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.ul_page .page_mollang {
	float: left;
}

.ul_page .page_mollang a {
	padding: 4px;
	margin-right: 3px;
	width: 15px;
	color: #000;
	font: bold 12px tahoma;
	text-align: center;
	text-decoration: none;
}

.ul_page li a:hover,
.ul_page li a:focus {
	color: #000;
	border: 1px solid #dee2e6;
	background-color: #dee2e6;
}