#mollang_center {
	height: 45px;
	margin: 0px 0px 30px 0px;
	border: 5px solid gray;
	width: 100%;
	display: flex;
}

.mollang_title {
	flex-grow: 1;
}

#btn_space {
flex-direction: row;
justify-content: flex-end;

}

.mollang_btn {
	margin-right: 55px;
}

.mollang_font {
	width: 75%;
	float: left;
}



/* ?† ?”½ ë©”ë‰´ ? •? ¬?•˜ê¸? ? „ì²? div */
.topic_mollang{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin : 0px 20% 5px 20%;
}


/* vs ê¸°ì???œ¼ë¡? ê°??š´?° ?˜?—­ ?‘ê¸? */
.topic_center_mollang{
	display: flex;
	justify-content: center;
	border : 3px solid yellow;
	width : 20vw;
}

/* ?† ?”½ ?…Œ?‘ë¦? (?´?˜ê²? ?‘œ?˜„?•˜ê¸? ?œ„?•´?„œ ?„¸?Œ… ?‹¤?‹œ ?•  ê²? ) */
#border_dark_mollang{
	border:2px double pink;
	margin-bottom: 40px;
	font-size: 1.2vw;
}

.mollang_good {
	display: flex;
	justify-content: center;
}

/* ?† ?”½ ?„ ?ƒì§? ?…Œ?‘ë¦?*/
.check01_mollang {
	/* ? •? ¬ ?˜ë©? ?‚­? œ ?•   */
	border: 4px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

@media screen and (max-width:991px) {
	.topic_mollang {
		margin: 0;
	}
}